<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-horizontal"
            (ngSubmit)="addCard($event, cfront.value, cback.value);
            cfront.value=''; cback.value='';">
        <div class="form-group">
          <label class="col-sm-1">front</label>
          <div class="col-sm-11">
            <input class="form-control" #cfront >
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-1">back</label>
          <div class="col-sm-11">
            <input class="form-control" #cback >
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
      </form>
    </div>
  </div>
  <div *ngFor="let card of cards; let i = index" class="panel panel-default">
    <div class="panel-heading">
      <div class="clearfix">
        <div class="pull-left">ID:{{card.id}} Level:{{card.level}}</div>
        <div (click)="deleteCard(card.id, card.front)" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></div>
      </div>
      <app-play [msg]="card.front" class="play-btn"></app-play>
      <div class="card-content editable" [ngClass]="{edit: editStyle(i)}">
        <h4 class="edit-target" (click)="editCard(i);">{{card.front}}</h4>
        <input class="editor" [(ngModel)]="card.front" (blur)="finEdit(i);">
      </div>
    </div>
    <div class="panel-body">
      <app-play [msg]="card.back" class="play-btn"></app-play>
      <div class="card-content editable" [ngClass]="{edit: editStyle(i, false)}">
        <p class="edit-target" (click)="editCard(i, false);">{{card.back}}</p>
        <input class="editor" [(ngModel)]="card.back" (blur)="finEdit(i, false);">
      </div>
    </div>
  </div>
  <button (click)="nextPage()" class="btn btn-default center-block">next</button>
</div>
