<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div style="font-size:132%" class="glyphicon glyphicon-play-circle pull-right" aria-hidden="true"></div>
      <p>
        Text text
      </p>
    </div>
    <div class="panel-body">
      <p>
      Body body body bodybody
      Body body body bodybody
      Body body body bodybody
      </p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div style="font-size:132%" class="glyphicon glyphicon-play-circle pull-right" aria-hidden="true"></div>
      <p>
        Text text
      </p>
    </div>
    <div class="panel-body">
      <p>
      Body body body bodybody
      Body body body bodybody
      Body body body bodybody
      </p>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div style="font-size:132%" class="glyphicon glyphicon-play-circle pull-right" aria-hidden="true"></div>
      <p>
        Text text
      </p>
    </div>
    <div class="panel-body">
      <p>
      Body body body bodybody
      Body body body bodybody
      Body body body bodybody
      </p>
    </div>
  </div>
</div>
