<div class="panel panel-default">
  <div class="panel-heading">
    <div class="clearfix">
      <div class="pull-left">ID:{{card.id}} Level:{{card.level}} {{card.learntime}}</div>
      <div (click)="discard()" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></div>
    </div>
    <app-play [msg]="card.front" class="play-btn"></app-play>
    <p #f contenteditable (blur)="card.front=f.innerText; update()">{{card.front}}</p>
    <p #fs contenteditable (blur)="card.front_sup=fs.innerText; update()">{{card.front_sup}}</p>
  </div>
  <div class="panel-body">
    <app-play [msg]="card.back" class="play-btn"></app-play>
    <p #b contenteditable (blur)="card.back=b.innerText; update()" >{{card.back}}</p>
    <p #bs contenteditable (blur)="card.back_sup=bs.innerText; update()">{{card.back_sup}}</p>
  </div>
</div>
