<div class="panel panel-default">
  <div class="panel-heading">
    <div class="clearfix">
      <div class="pull-left">ID:{{card.id}} Level:{{card.level}} {{card.learntime}}</div>
      <div (click)="discard()" class="glyphicon glyphicon-remove pull-right" aria-hidden="true"></div>
    </div>
    <app-play [msg]="card.front" class="play-btn"></app-play>
    <div class="card-content editable" [ngClass]="{edit: isEditing('f')}">
      <h4 class="edit-target" (click)="edit('f', true);">{{card.front}}</h4>
      <input class="editor" [(ngModel)]="card.front" (blur)="edit('f', false);">
    </div>
    <div class="editable" [ngClass]="{edit: isEditing('fs')}">
      <p class="edit-target" (click)="edit('fs', true);">{{card.frontSup}}</p>
      <textarea class="editor" [(ngModel)]="card.frontSup" (blur)="edit('fs', false);"></textarea>
    </div>
  </div>
  <div class="panel-body">
    <app-play [msg]="card.back" class="play-btn"></app-play>
    <div class="card-content editable" [ngClass]="{edit: isEditing('b')}">
      <p class="edit-target" (click)="edit('b', true);">{{card.back}}</p>
      <input class="editor" [(ngModel)]="card.back" (blur)="edit('b', false);">
    </div>
    <div class="editable" [ngClass]="{edit: isEditing('bs')}">
      <p class="edit-target" (click)="edit('bs', true);">{{card.backSup}}</p>
      <textarea class="editor" [(ngModel)]="card.backSup" (blur)="edit('bs', false);"></textarea>
    </div>
  </div>
</div>
