<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">
      <div style="font-size:132%" class="glyphicon glyphicon-play-circle pull-right" aria-hidden="true"></div>
      <h4>
        Text text
      </h4>
    </div>
    <div class="panel-body">
      <p>
      Body body body bodybody
      Body body body bodybody
      Body body body bodybody
      </p>
    </div>
  </div>

  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Bad</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Normal</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Good</button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">Great</button>
    </div>
  </div>

  <hr>

  <button type="button" class="btn btn-default pull-left">Prev</button>
  <button type="button" class="btn btn-default pull-right">Next</button>

</div>
