<div class="container">

  <div *ngIf="cards && cards.length" class="panel panel-default">
    <div class="panel-heading">
      <div (click)="play(cards[index].front)" style="font-size:132%" class="glyphicon glyphicon-play-circle pull-right" aria-hidden="true"></div>
      ID:{{cards[index].id}}
      Level:{{cards[index].level}}
      <h4>{{cards[index].front}}</h4>
    </div>
    <div class="panel-body" (click)="reveal(index);">
      <p class="card-mask" [class.active]="!visible[index]">[CLICK]</p>
      <p class="card-back" [class.active]="visible[index]">{{cards[index].back}}</p>
    </div>
  </div>

  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button (click)="rate(-1); next();" type="button" class="btn btn-default">Bad</button>
    </div>
    <div class="btn-group" role="group">
      <button (click)="rate(0); next();" ttype="button" class="btn btn-default">Normal</button>
    </div>
    <div class="btn-group" role="group">
      <button (click)="rate(1); next();" ttype="button" class="btn btn-default">Good</button>
    </div>
    <div class="btn-group" role="group">
      <button (click)="rate(2); next();" ttype="button" class="btn btn-default">Great</button>
    </div>
  </div>

  <hr>

  <div class="card-nav">
    <div
       class="card-nav-item"
      *ngFor="let c of cards; let i = index;"
      [ngSwitch]="rates[i]"
      [class.active]="i == index"
      (click)="changeIndex(i);"
      >
      <span *ngSwitchCase="-1" class="glyphicon glyphicon-remove text-danger"></span>
      <span *ngSwitchCase="0" class="glyphicon glyphicon-ok text-warning"></span>
      <span *ngSwitchCase="1" class="glyphicon glyphicon-ok text-success"></span>
      <span *ngSwitchCase="2" class="glyphicon glyphicon-ok text-primary"></span>
      <span *ngSwitchDefault class="glyphicon glyphicon-minus text-mute"></span>
    </div>
  </div>

  <button (click)="prev();" type="button" class="btn btn-default pull-left">Prev</button>

  <button (click)="next();" type="button" class="btn btn-default pull-right">Next</button>

  <div *ngIf="finished" class="finish-btn">
    <button (click)="finish();" type="button" class="btn btn-primary btn-lg">Finish</button>
  </div>

</div>
