.card-back {
  display: none;
}
.card-back.active {
  display: block;
}
.card-mask {
  display: none;
}
.card-mask.active {
  display: block;
}

.card-nav {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.card-nav-item {
  margin:2px;
}

.card-nav-item.active{
  border-bottom: solid 2px #ccc;
}

.finish-btn {
  display: flex;
  justify-content: center;
}
